<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <!-- ============================   Arm   ============================ -->
  <xacro:macro name="arm_gazebo" params="prefix">

    <gazebo reference="${prefix}_armlink1">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    
    <gazebo reference="${prefix}_armlink2">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink3">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink4">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="${prefix}_armlink5">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
