<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/arm_root.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/arm.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/mono_arm_module/finger.xacro" />

  <xacro:macro name="manipulator_module">
    <!-- ============================   Mono Arm Module   ============================ -->
    <!-- This xacro group is intended to be used in a full UP1 robot URDF -->

    <xacro:arm_root />

    <xacro:arm prefix="right" reflect="1" />

    <xacro:finger prefix="right" num="1" reflect="1" flip="0" fake="" />
    <xacro:finger prefix="right" num="2" reflect="-1" flip="1" fake="_fake" />

  </xacro:macro>

</robot>
