<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find up1_description)/xacro/common.gazebo.xacro" />

  <xacro:property name="pi" value="3.14159" />

  <xacro:property name="front_wheel_offset_x" value="0.05569" />
  <xacro:property name="front_wheel_offset_y" value="0.12922" />
  <xacro:property name="front_wheel_offset_z" value="-0.02110" />

  <xacro:property name="back_wheel_offset_x" value="-0.05883" />
  <xacro:property name="back_wheel_offset_y" value="0.12922" />
  <xacro:property name="back_wheel_offset_z" value="-0.02110" />

  <xacro:property name="io_offset_x" value="0.09136" />
  <xacro:property name="io_offset_y" value="0" />
  <xacro:property name="io_offset_z" value="0.03356" />

  <xacro:property name="camera_offset_x" value="-0.01219" />
  <xacro:property name="camera_offset_y" value="0.04027" />
  <xacro:property name="camera_offset_z" value="0.00023" />

  <xacro:property name="armroot_offset_x" value="-0.01247" />
  <xacro:property name="armroot_offset_y" value="0" />
  <xacro:property name="armroot_offset_z" value="0.05187" />

  <xacro:property name="armlink1_offset_x" value="0.01777" />
  <xacro:property name="armlink1_offset_y" value="0.07385" />
  <xacro:property name="armlink1_offset_z" value="0.01853" />

  <xacro:property name="armlink2_offset_x" value="0" />
  <xacro:property name="armlink2_offset_y" value="0" />
  <xacro:property name="armlink2_offset_z" value="-0.07038" />

  <xacro:property name="armlink3_offset_x" value="0" />
  <xacro:property name="armlink3_offset_y" value="0.09602" />
  <xacro:property name="armlink3_offset_z" value="0" />

  <xacro:property name="armlink4_offset_x" value="0" />
  <xacro:property name="armlink4_offset_y" value="0" />
  <xacro:property name="armlink4_offset_z" value="0.05588" />

  <xacro:property name="armlink5_offset_x" value="0" />
  <xacro:property name="armlink5_offset_y" value="0.07641" />
  <xacro:property name="armlink5_offset_z" value="0" />

  <xacro:property name="gripper_offset_x" value="0" />
  <xacro:property name="gripper_offset_y" value="0.138" />
  <xacro:property name="gripper_offset_z" value="0" />

  <xacro:property name="finger_offset_x" value="0.01800" />
  <xacro:property name="finger_offset_y" value="0.08121" />
  <xacro:property name="finger_offset_z" value="0" />

  <xacro:property name="armlink1_limit_lower" value="${-pi/2}" />
  <xacro:property name="armlink1_limit_upper" value="${pi/2}" />
  <xacro:property name="armlink2_limit_lower" value="${-pi/2}" />
  <xacro:property name="armlink2_limit_upper" value="${pi/2}" />
  <xacro:property name="armlink3_limit_lower" value="${-pi/2}" />
  <xacro:property name="armlink3_limit_upper" value="${pi/2}" />
  <xacro:property name="armlink4_limit_lower" value="${-pi/2}" />
  <xacro:property name="armlink4_limit_upper" value="${pi/2}" />
  <xacro:property name="armlink5_limit_lower" value="${-pi/2}" />
  <xacro:property name="armlink5_limit_upper" value="${pi/2}" />
  <xacro:property name="finger_limit_upper" value="0.018" />

  <xacro:property name="armlink1_velocity" value="1" />
  <xacro:property name="armlink2_velocity" value="1" />
  <xacro:property name="armlink3_velocity" value="1" />
  <xacro:property name="armlink4_velocity" value="1" />
  <xacro:property name="armlink5_velocity" value="1" />
  <xacro:property name="finger1_velocity" value="1" />
  <xacro:property name="finger2_velocity" value="1" />

  <xacro:property name="armlink1_effort" value="6.0" />
  <xacro:property name="armlink2_effort" value="6.0" />
  <xacro:property name="armlink3_effort" value="6.0" />
  <xacro:property name="armlink4_effort" value="6.0" />
  <xacro:property name="armlink5_effort" value="6.0" />
  <xacro:property name="finger1_effort" value="6.0" />
  <xacro:property name="finger2_effort" value="6.0" />

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="white">
    <color rgba="1 1 1 1" />
  </material>
  <material name="red">
    <color rgba="1 0 0 1" />
  </material>
  <material name="grey">
    <color rgba=".5 .5 .5 1" />
  </material>
  <material name="green">
    <color rgba="0 1 0 1" />
  </material>
  <material name="blue">
    <color rgba="0 0 1 1" />
  </material>
  <material name="yellow">
    <color rgba="1 1 0 1" />
  </material>

</robot>
