<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <!-- This syntax does not appear to work, even in ros-indigo -->
  <!-- <xacro:arg name="manipulator_module" default="dual_arm" />
  <xacro:arg name="base_module" default="base" />
  <xacro:arg name="io_module" default="io" /> -->

  <xacro:include filename="$(find up1_description)/xacro/common.xacro" />

  <xacro:include filename="$(find up1_description)/xacro/manipulator_module/$(arg manipulator_module)_module/$(arg manipulator_module)_module.xacro" />

  <!-- TODO: the other modules will eventually need to be modularized based on config -->
  <xacro:include filename="$(find up1_description)/xacro/base_module/$(arg base_module)_module.xacro" />
  <xacro:include filename="$(find up1_description)/xacro/io_module/$(arg io_module)_module.xacro" />

  <xacro:manipulator_module />
  <xacro:base_module />
  <xacro:io_module />

</robot>
