<launch>
  <arg name="sim" default="false" />
  <!-- <arg name="limited" default="false"/> -->
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/left_arm_controller/follow_joint_trajectory" to="/up1/left_arm_controller/follow_joint_trajectory"/>
  <remap if="$(arg sim)" from="/right_arm_controller/follow_joint_trajectory" to="/up1/right_arm_controller/follow_joint_trajectory"/>
  <remap if="$(arg sim)" from="/left_gripper_controller/gripper_cmd" to="/up1/left_gripper_controller/gripper_cmd"/>
  <remap if="$(arg sim)" from="/right_gripper_controller/gripper_cmd" to="/up1/right_gripper_controller/gripper_cmd"/>

  <!-- Launch moveit -->
  <include file="$(find up1_moveit_config)/launch/move_group.launch">
    <!-- <arg name="limited" default="$(arg limited)"/> -->
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
