<?xml version="1.0"?>
<launch>

  <!-- Load robot description -->
  <!-- TODO: figure out how to get these parameters from the modules.yaml file or parameter server -->
  <arg name="manipulator" default="mono" />

  <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find up1_description)/urdf/up1.xacro manipulator_module:=$(arg manipulator)_arm" /> -->
  <param name="robot_description" textfile="$(find up1_description)/urdf/up1_$(arg manipulator).urdf"/>

  <!-- Load robot configuration to parameter server -->
  <rosparam file="$(find up1_description)/config/modules.yaml" command="load" />

</launch>
