<?xml version="1.0"?>
<launch>

  <!-- Load robot configuration -->
  <rosparam file="$(find up1_description)/config/modules.yaml" command="load" />

  <!-- Load robot description -->
  <!-- TODO: xacro should load actual xacro files and not the generated urdf -->
  <!-- TODO: should load the proper xacro files based on the modules defined in config file above -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find up1_description)/urdf/up1.urdf"/>

  <!-- Start the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
