<launch>
   <arg name="animation" default="~proto-demo" />
   <arg name="sequence" default="sequence1" />
   <rosparam param="animation" subst_value="True">$(arg animation)</rosparam>
   <rosparam param="sequence" subst_value="True">$(arg sequence)</rosparam>
   <node name="teleop_arm_key" pkg="up1_teleop" type="teleop_arm_key" output="screen">
      <rosparam file="$(find up1_teleop)/config/arm_poses.yaml" command="load" />
   </node>
</launch>
