<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <xacro:include filename="$(find up1_description)/urdf/common.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/arm_module/two_arm_module.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/base_module/base_module.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/io_module/io_module.xacro" />

  <xacro:base_module />
  <xacro:io_module />
  <xacro:two_arm_module />

</robot>