<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="up1">

  <!-- This syntax does not appear to work, even in ros-indigo -->
  <xacro:arg name="manipulator_module" default="dual_arm" />

  <xacro:include filename="$(find up1_description)/urdf/common.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/manipulator_module/dual_arm_module/$(arg manipulator_module)_module.xacro" />

  <xacro:manipulator_module />

</robot>
