<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find up1_description)/urdf/arm_module/arm.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/arm_module/gripper.xacro" />
  <xacro:include filename="$(find up1_description)/urdf/arm_module/arm_module.gazebo.xacro" />

  <!-- ============================   Arm Module   ============================ -->
  <xacro:macro name="right_arm_module">
    <!-- Armroot Joint -->
    <joint name="base_to_armroot" type="fixed">
      <parent link="base_link" />
      <child link="armroot_link" />
      <origin xyz="${armroot_offset_x} ${armroot_offset_y} ${armroot_offset_z}" />
    </joint>
    <!-- Armroot Link -->
    <link name="armroot_link">
      <visual>
        <geometry>
          <mesh filename="package://up1_description/meshes/armroot.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://up1_description/meshes/armroot.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.20657"/>
        <inertia ixx="0.00096240277" ixy="-0.00000350376" ixz="0.00002354169" 
                 iyy="0.00057897825" iyz="0.00000127419" izz="0.00134814249"/>
      </inertial>
    </link>
    
    <xacro:arm_module_gazebo />
    
    <xacro:arm prefix="right" reflect="1" />
    <xacro:gripper prefix="right" reflect="1" />
    
  </xacro:macro>

</robot>
